<form {{action 'submitWord' on='submit'}}>
  <div class='form-group {{if error "has-error"}}'>
    <label class='{{if error "text-danger" "sr-only"}}' for='wordInput'>
      {{if error error 'Word'}}
    </label>

    <input oninput={{action "inputChanged" value="target.value"}}
           value={{word}}
           class='form-control'
           placeholder='Search for a word'
           type='text'
           id='wordInput' />
  </div>

  <button class='btn btn-primary' type='submit'>Submit</button>
</form>
